body {
    background: #F7F9FC;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    transition: .3s;
}

main {
    margin-top: 1.675rem;
    padding-left: 20px;
    padding-right: 20px;
}

.formulario {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formulario .control-texto {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 12px;
    resize: unset;
    border: 1px solid #676767;
    transition: .3s;
}
.formulario .control-texto:focus {
    border: 1px solid #2F72DE;
    outline: none;
}
.formulario .control-btn {
    border: none;
    outline: 0;
    height: 42px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #262EC9;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 4px;
    transition: .3s;
}
.formulario .control-btn:disabled {
    opacity: .75;
}
.formulario .control-btn:hover {
    background-color: #2F72DE;
}

.formulario {
    max-width: 620px;
}

.formulario, .todo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 15px #00000014;
    border-radius: 12px;
    transition: .3s;
}

.todo-sections-container {
    min-height: calc(100vh - 64px - 28px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
}

.todo-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-container-title {
    font-size: 1rem;
    text-align: center;
    padding-block: 1rem;
    background: #f4f5f773;
    color: #172b4d;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.loader {
    position: absolute;
    margin: 0 auto;
    margin-top: 1.675rem;
    z-index: 9;
}

.loader img {
    width: 64px;
}

.todo {
    min-height: 500px;
    height: 100%;
    transition: .5s;
}
.todo.todo-loading {
    opacity: .50;
}

.todo-item {
    background-color: #ffffff;
    border: 1px solid #e5e6e6;
    border-left: 4px solid #2F72DE;
    padding: 12px;
    margin: 16px;
    border-bottom: 1px solid #e5e6e6;
    display: flex;
    flex-direction: column;
}

.todo-item h2 {
    font-size: 1rem;
}


.todo-item h2, .todo-item p {
    margin: 0;
    transition: .3s;
}
.todo-item p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.todo-item.todo-completed {
    border-left: 4px solid #03CEA4;
}
.todo-item.todo-completed h2, .todo-item.todo-completed p {
    text-decoration: line-through;
    color: #a8a9aa;
}
.todo-item .todo-item-actions {
    display: flex;
}
.todo-item .btn img {
    width: 18px;
    height: 18px;
}

.todo-item.tarea-terminada h2, .todo-item.tarea-terminada p {
    text-decoration: line-through;
    opacity: .5;
}
.todo-item.tarea-terminada .btn {
    opacity: .5;
    pointer-events: none;
}

.todo-item p {
    font-size: 14px;
    line-height: 22px;
}

.todo-item-actions {
    margin-top: 8px;
}

.todo-item .btn {
    height: 42px;
    min-width: 42px;
    box-sizing: border-box;
    display: block;
    background: #F7F9FC;
    outline: none;
    border: none;
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #262EC9;
    margin-right: 12px;

    cursor: pointer;
    transition: .3s;
}
.todo-item .btn:disabled {
    opacity: .6;
}

.tema-oscuro {
    background: black;
}

.tema-oscuro .formulario,
.tema-oscuro .todo {
    background: #2B2C3E;
}

.tema-oscuro h2, .tema-oscuro p, .tema-oscuro h1 {
    color: white;
}

.tema-oscuro .todo-item {
    border-bottom: 1px solid rgba(0,0,0,.9);
}

.tema-oscuro .btn {
    background: rgba(255,255,255,.5);
}