.modal {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: .1s display;
    transition: 1s opacity ease-in;
}
.modal.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}