.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 0px 20px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 4px 11px -5px rgba(0,0,0,0.4);
}

.header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #172b4d;
}
.header h1 span {
    font-weight: 300;
}

.header .btn-primary {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    height: 38px;
    background-color: #2F72DE;
    padding-inline: 12px;
    border-radius: 4px;
    border: none;
    border-bottom: 5px solid #21509B;
    cursor: pointer;
}